body{
    background-image: linear-gradient(to right, #823a05, rgba(216, 115, 0, 0.63));
}

#containerDiv{
    background-color: #2f2d2d;
    border: 10px darkorange solid;
    text-align: center;
    height: 80vw;
    width: 80vw;
    border-radius: 5%;
    margin: 50vw 10vw 50vw 10vw;  /*top-right-bottom-left*/
    padding: 0.2vw;
    box-shadow: 0 30px 60px 0 #6a3904;

}
#containerDiv #greetingArea{
    padding-top: 21vw;
}
#containerDiv #greetingArea p{
    font-size: 50px;
    font-family: monospace;
    width: 70%;
    margin-top: 5vw;
    margin-left: 11vw;
    color: rgb(241, 173, 138);
}
#containerDiv #greetingArea button{
    margin-top: 3vw;
    font-size: 30px;

    width: 300px;
    height: 100px;

    border: 2px solid #99560e;
    border-radius: 20px;
    background-color: rgb(241, 173, 138);
    box-shadow: 0 15px 30px 0 #a95b05;

    color: #713f09;
}
#startAgainButton{
    margin-top: 3vw;
    font-size: 30px;

    width: 300px;
    height: 100px;

    border: 2px solid #99560e;
    border-radius: 20px;
    background-color: rgb(241, 173, 138);
    box-shadow: 0 15px 30px 0 #a95b05;

    color: #713f09;
}

#endingText{
    font-size: 10px;
}
#containerDiv #endingArea{
    padding-top: 7.5vw;
}
#containerDiv #endingArea p{
    font-size: 50px;
    font-family: monospace;
    width: 70%;
    margin-top: 5vw;
    margin-left: 11vw;
    color: rgb(241, 173, 138);
}
#containerDiv #endingArea button{
    margin-top: 3vw;
    font-size: 30px;

    width: 300px;
    height: 100px;

    border: 2px solid #99560e;
    border-radius: 20px;
    background-color: rgb(241, 173, 138);
    box-shadow: 0 15px 30px 0 #a95b05;

    color: #713f09;
}